  <link rel="stylesheet" href="css4\\Mycss.css">

<div class="row myDiv">
<div class="container">
		<div class="row">
	        <div class="col-md-12">
	            <div class="pr-wrap">
	             	   <div class="pass-reset">
	                    <label>
	                        Enter the email you signed up with</label>
	                    <input type="email" placeholder="Email" />
	                    <input type="submit" value="Submit" class="pass-reset-submit btn btn-success btn-sm" />
	                </div>
            </div>
            <div class="wrap">
                <p class="form-title">
                    Sign In</p>
                     <div>{{error.message}}</div>
                <form class="login" ng-submit="loginUser()">
                <input type="text" placeholder="Username" data-ng-model="user.email"/>
                <input type="password" placeholder="Password" data-ng-model="user.password" />
                <input type="submit" value="Sign In" class="btn btn-success btn-sm" />
                <div class="remember-forgot">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" />
                                    Remember Me
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6 forgot-pass-content">
                            <a href="#!signUpForm" class="forgot-pass">Create Account</a>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    </div>
