
<div class="container">
	<h3 align="center" style="color:#06115B">SIGN UP</h3>
	<div>
  	{{error.message}}
  </div>
<div class="panel panel-info">
<div class="panel-heading">

<form ng-submit="registerUser()">

    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
	<div class="form-row">
		<div class="col form-group">
			<label for="firstName">First name </label>   
		  	<input type="text" class="form-control" id="firstName" placeholder="Enter First Name" name="firstName" data-ng-model="user.firstName" required >
		</div> <!-- form-group end.// -->
		<div class="col form-group">
			<label for="lastName">Last name</label>
		  	<input type="text" class="form-control" id="lastName" placeholder="Enter Last Name" name="lastName" data-ng-model="user.lastName" required>
		</div> <!-- form-group end.// -->
	</div> <!-- form-row end.// -->
	<div class="form-group">
		<label for="email">Email address</label>
		<input type="email" class="form-control"  id="email" placeholder="Enter email" name="email" data-ng-model="user.email" required>
		<small class="form-text text-muted" style="color:black">We'll never share your email with anyone else.</small>
	</div> <!-- form-group end.// -->
	<div class="form-group">
			<label class="form-check form-check-inline">
		  <input class="form-check-input" type="radio" name="gender" value="option1">
		  <span class="form-check-label"> Male </span>
		</label>
		<label class="form-check form-check-inline">
		  <input class="form-check-input" type="radio" name="gender" value="option2">
		  <span class="form-check-label"> Female</span>
		</label>
	
	</div> <!-- form-row.// -->
	<div class="form-group">
		<label>Create password</label>
	    <input class="form-control" type="password"  id="password" placeholder="Enter Password" name="password" data-ng-model="user.password" required="required">
	</div> <!-- form-group end.// -->  
	<div class="form-group">
		<label for="mobileNumber">Mobile Number</label>
	    <input type="tel" pattern="[6-9]{1}[0-9]{9}" class="form-control" id="mobileNumber" placeholder="Enter Phonenumber" name="mobileNumber" data-ng-model="user.mobileNumber"  maxlength="10" required>
	</div> <!-- form-group end.// -->  
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block"> Register  </button>
    </div> <!-- form-group// -->      
    <small class="text-muted" style="color:black">By clicking the 'Sign Up' button, you confirm that you accept our <br> Terms of use and Privacy Policy.</small>   
    
                                           
       
</form>

<div class="border-top card-body text-center">Have an account? <a type="btn btn-default" href="#!login" style="color:black">Log In</a></div>
</div>
</div>
</div> 